# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# frontend
vueProject/node_modules/
vueProject/dist/
vueProject/dist-ssr/

# backend
backend/node_modules/
backend/dist/
backend/.env

# local env
*.local
.env
**/.env

# Editor directories and files
.vscode/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?